DOCTYPE
html
    head
        meta(charset="UTF-8")
        title MediCO form
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous")

        style.
             body {
                margin: 0;
                padding: 0;
            }
            .nav {
                background-color: burlywood;
                width: 100vw;
                height: 200px;
            }
            .brand {
                padding-left: 70px;
                padding-top: 7%;
                text-decoration: none;
                color: darkgreen;
                font-size: 50px;
                font-weight: 400;
                letter-spacing: 3px;
            }
            .navbar-nav {
                display: inline-block;
                padding-top: 8%;
                padding-left: 100px;
            }
            .nav-item {
                text-decoration: none;
                color: darkgreen;
                font-size: 40px;
                font-weight: 100;
                padding-left: 40px;
            }
            .container {
                margin-top: 20%;
                font-size: 40px;
            }
            .form-control::placeholder{
                font-size: 25px;
            }
            .form-control {
                height: 100px;
            }
            .form-input {
                margin-top: 80px;
                font-size: 1.3em;
            }
            .btn {
                height: 100px;
                width: 200px;
                margin-top: 50px;
                font-size: 1em;
            }

    body 
        nav(class="nav")

                a(class="brand" href="/") MEDICO


                div(class="navbar-nav")

                    a(class="nav-item" href="/form") Add medicine

                    a(class="nav-item" href="/inventory") Inventory

        div(class="container")
            div(class="row")
                div(class="col-lg-12")
                    form(method="post" action="/added" class="form-group")
                        div(class="form-input")
                            label(for="name") Medicine name
                            input(type="text" placeholder="Medicine name" name="name" class="form-control")

                        div(class="form-input")
                            label(for="count") No of medicines
                            input(type="number" placeholder="No of medicines" name="count" class="form-control")

                        div(class="form-input")
                            label(for="brand") Brand
                            input(type="text" placeholder="Brand" name="brand" class="form-control")

                        button(type="submit" class="btn btn-primary") Add    