DOCTYPE
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous")
        title MediCO form

        style.
             * {
                margin: 0;
                padding: 0;
            }
            html {
                font-size: 62.5%;
            }
            .header {
                background-color: burlywood;
                width: 100vw;
                height: 8rem;
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .brand {
                text-decoration: none;
                color: darkgreen;
                padding-left: 3rem;
                font-size: 2.6rem;
                font-weight: 400;
                letter-spacing: 3px;
            }
            .navbar {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding-right: 3rem;
                gap: 1rem;
            }
            .nav-item {
                text-decoration: none;
                color: darkgreen;
                font-size: 1.6rem;
                font-weight: 300;
            }
            .container {
                margin-top: 3rem;
            }
            .form-input {
                margin-top: 2rem;
            }
            .form-control {
                font-size: 2rem;
                height: 4rem;
            }
            .form-label {
                font-size: 2.3rem;
            }
            .btn {
                height: 5rem;
                width: 15rem;
                margin-top: 5rem;
                font-size: 2.7rem;
            }
            @media (min-width: 700px) {
                html {
                    font-size: 70%;
                }
                .navbar {
                    gap: 6rem;
                }
            }

    body 
        nav(class="header")
                a(class="brand" href="/") MEDICO
                div(class="navbar")
                    a(class="nav-item" href="/form") Add medicine
                    a(class="nav-item" href="/inventory") Inventory

        div(class="container")
            div(class="row")
                div(class="col-12")
                    form(method="post" action="/added" class="form-group")
                        div(class="form-input")
                            label(for="name" class="form-label") Medicine name
                            input(type="text" id="name" name="name" class="form-control")

                        div(class="form-input")
                            label(for="count" class="form-label") No of medicines
                            input(type="number" id="count" name="count" class="form-control")

                        div(class="form-input")
                            label(for="brand" class="form-label") Brand
                            input(type="text" id="brand" name="brand" class="form-control")

                        button(type="submit" id="smbt-btn" class="btn btn-primary") Add    
        script.
            function onSubmit(e) {
                if(!document.getElementsByClassName("form-control")[0].value ||
                !document.getElementsByClassName("form-control")[1].value ||
                !document.getElementsByClassName("form-control")[2].value)
                    {e.preventDefault(); alert("Value needs to be there.");}
            }

            document.getElementById("smbt-btn").addEventListener("click", onSubmit);